Package: ${project.artifactId}
Version: ${project.version}
Section: misc
Priority: optional
Architecture: all
Depends: java-runtime (>=${java-version}), mkvtoolnix
Maintainer: ${project.maintainer} <${project.maintainer.mail}>
Description: ${project.description}